</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/"><img src="/images/logo-no-background-minimal.png" alt="blog's logo" width="70px"></a>
            <ul class="nav-tools">
                <li><a href="/"><i class="bi bi-house-door-fill"></i></a></li>
                <li><a href="/about"><i class="bi bi-info-circle-fill"></i></a></li>
                <li><a href="/create"><i class="bi bi-pencil-square"></i></a></li>
            </ul>
        </nav>
    </header>

