<%- include ("partials/boilerplate") %>
    <title>About Us</title>
<%- include ("partials/header") %>

    <div class="contents">
        <h1 style="text-align: center;">About Us</h1>
        <img class="logo" src="images/logo-color.png">
        <h2 style="text-align: center; margin: 3%;">Welcome to <span style="color:#6A704C;">Study a Day</span> – a platform where you can share your daily learnings and insights about memes. Create a post, share funny memes, and join our community of lifelong learners. Please note that, as the creator is still mastering database integration, your posts won't be saved upon re-entering the server. Seize the opportunity to share a snippet of your knowledge each day!</h2>
    </div>


<%- include("./partials/footer.ejs") %>
